body{
    background-image: url("https://i.natgeofe.com/n/39f02083-af40-44b1-a32d-b3d869e105f3/88732.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

.yes{
    background-color: goldenrod
}